* {
    font-family: 'Lato', sans-serif;
    color: white;
}

#logo-img {
    padding-left: 25px;
}

header {
    background-color: #000000;
}

main {
    background-image: url('src/bg.jpg');
}

footer{
    background-color: #081B1D;
}

h1 {
    font-size: 50px;
    font-weight: 900;
}

.disc {
    height: 550px;
    width: 550px;
    padding: 50px;
    border-radius: 300px;
    margin-right: 100px;
}

.home {
    color: white;
}