* {
    font-family: 'Lato', sans-serif;
    color: white;
}

#logo-img {
    padding-left: 25px;
}

header {
    background-color: black;
}

main {
    background-image: url('src/bg.jpg');
    padding-top: 100px;
}

footer{
    background-color: #081B1D;
}

h1 {
    font-size: 50px;
    font-weight: 900;
}

.disc {
    height: 550px;
    width: 550px;
    padding: 50px;
    border-radius: 300px;
    margin-right: 100px;
}

.home {
    color: white;
}

.card {
    background-color: #0d282b;
}

.music-list {
    width: 1000px;
    padding: 30px;
    padding-left: 50px;
    border: 2px dashed #2b5e63;
    border-radius: 4px;
    background-color: #0d282b77;

}

.albumes {
    padding: 80px;
    padding-top: 120px;
}

.album-info {
    padding: 30px;
}